/*fonts*/
@font-face {
	font-family: 'Oceanwide';
	src:url("../fonts/OceanwideSemibold.otf") format("opentype");	
}

/*Kleuren*/
:root{
--color-backgroundblack:rgb(0,0,0);
--color-backgroundwhite:rgb(255, 255, 255);
}

/* ALGEMENE STYLING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }


body {
    margin: 0;
    font-family: 'Oceanwide', 'sans-serif';
}

button{
    font-family: inherit;
    font-weight: lighter;
}


/* STYLING HEADER */
header {
    /* justify-content: end; */
    display: flex;
    padding: 1em;
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    height: 7vh;
}

header.scrolled {
    background-color: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

header > a:first-of-type{
    color: white;
}

header > a:first-of-type.scrolled{
    color: black;
}

header a:first-of-type {
    margin-right: auto
}

header svg {
    height: 2em;
    width: 1.8em;
    aspect-ratio: 1/1;
}

header > a:first-of-type svg{
    width: 10em;
}

header > button{
    background-color: transparent;
    border: none;
    color: white;
    margin-left: .5em;
}

header > button.scrolled{
    color: black;
}






/* NAVIGATIE STYLING (IN HAMBURGERMENU) */

/* hij haalt hem uit de flow zodat die geen ruimte ineemt*/

html.menuOpen {
	overflow:hidden;
}

header nav {
    position: fixed;
    right: 0;
    top: 0;
    /* width: 80%; */
    min-height: 100vh;
    background-color: var(--color-backgroundwhite);
    translate: 0% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* display: none; */

	inset:0 0 0 15%;
	transform:translateX(100%);
	transition:.1s;
}

header nav.open{
    transform:translateX(0%);
	transition:.3s;
}

/* styling van het kruisje */
header nav > button:first-of-type{
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: transparent;
    border: none;
}

header nav button img{
    width: 2em;
}

/* lijst hoofdmenu men, woman, etc. */
header nav ul{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

header nav ul:first-of-type{
    margin-top: 2.2em;
}

header nav li{
    list-style: none;
    margin-top: 2em ;
    display: flex;
    justify-content: end;
    align-items: flex-end; 
    
}

header nav li:last-of-type p {
    color: red;
}

header nav li a svg{
    width: .5em;
    margin-right: 1em;
}

header nav li a svg:hover{
    transform: scale(1.3);
    transition: .5s;
}

header nav ul p{
    font-size: 1.5em;
    margin-right: auto;
}

/* klein submenu met log in, faq, etc. */
header nav ul:nth-of-type(2) {
    justify-content: end;
    align-items: flex-end;
    margin-right: 1em;
}

header nav ul:nth-of-type(2) a{
    list-style-type: none;
    color: black;
    text-decoration: none;
}

header nav ul:nth-of-type(2) a:hover{
    text-decoration: underline;
}

header nav ul a {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end; 
    text-decoration: none;
    color: black;
}

header a:hover{
    text-decoration: underline;
}


/* styling van de 2 knoppen onderaan in de nav */
header nav section{
    display: flex;
    place-content: center;
    gap: .2em;
    margin-bottom: 1em;
}

header nav section button{
    background-color: transparent;
    padding: .1em 2.2em;
    font-family: inherit;
    border: 1px black solid;
    border-radius: 3em;
    font-size: 1.3em;
    height: 3em;
    display: flex;
    align-items: center;
    /* place-content: center; */
}

header nav section button:hover{
    background-color: black;
    color: white;
}



header nav section button img{
    width: 1.2em;
}



svg {
    width: 7px;
    height: 12px;
   

}



/* MAIN STYLING */
main > section:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main > section:first-of-type h1{
    font-size: 1.3em;
}

main > section:first-of-type ul{
    order: -2;
}

main > section:first-of-type ul li{
    margin: 0;
}

main > section:first-of-type ul img{
    width: 100%;
}

main > section:first-of-type > p:first-of-type{
    order: -1;
    color: grey;
    text-transform: uppercase;
}

main > section:first-of-type > p:nth-of-type(3){
    margin: 0 1em;
}

main > section:first-of-type > p:nth-of-type(4){
    margin: .5em 0;
}

main > section:first-of-type > p:nth-of-type(5){
    font-size: .85em;
}

main > section:first-of-type{
    text-align: center;
}

main > section:first-of-type section{
    display: grid;
    grid-template-columns: 30% 1fr;
    margin: 0 1em;
    gap: .5em;
}

main > section:first-of-type section button:first-of-type{
    grid-column: 1 / 3;
    background-color: black;
    color: white;
    padding: 1em;
    border-radius: 10em;
    font-size: inherit;
}

main > section:first-of-type section button:first-of-type:hover{
    background-color: white;
    color: #000;
    border: black solid 1px;
}

main > section:first-of-type section button:nth-of-type(2), main > section:first-of-type section button:nth-of-type(3){
    background-color: transparent;
    border: #adadad .5px solid;
    padding: 1em;
    border-radius: 10em;
}

main > section:first-of-type section button:nth-of-type(2):hover, main > section:first-of-type section button:nth-of-type(3):hover{
    background-color: rgb(182, 182, 182);
    color: white;
}

main > section:first-of-type section img{
    width: 2em;
}





main > section:nth-of-type(2){
    margin: 2.5em 1em;
}

main > section:nth-of-type(2) ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

main > section:nth-of-type(2) ul li{
    list-style-type: none;
    border-top: #adadad .5px solid;
    padding: 1.5em 1em;
}

main > section:nth-of-type(2) ul li p{
    font-size: .8em;
}

main > section:nth-of-type(2) svg{
    width: 2em;
    height: 2em;
}



main > section:nth-of-type(3) img{
    width: 100%;
}


main > section:nth-of-type(4){
    margin: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main > section:nth-of-type(4) summary {
	list-style:none;
	display:flex;
	justify-content:space-between;
	align-items:center;
    margin-bottom: 1em;
}

main > section:nth-of-type(4) summary::after {
	content:"";
	display:grid;
	place-content:center;
	width:.8em;
	aspect-ratio:1;
	
	transition:.3s;
	
	border-radius:50%;
	
	background-image:
		linear-gradient(#000 0 0),
		linear-gradient(#000 0 0);
	
	background-size:
		1.25em .15em,
		.15em 1.25em;
	background-repeat:
		no-repeat;
	background-position:
		center;
}

main > section:nth-of-type(4) details[open] summary::after {
	rotate:45deg;
}


main > section:nth-of-type(4) details{
    border-bottom: #adadad .5px solid;
    padding-bottom: 1em;
}

main > section:nth-of-type(4) details:nth-of-type(2) ul li{
    list-style-type: none;
}

main > section:nth-of-type(4) details:nth-of-type(2) span:not(p span){
    color: rgb(31, 2, 162);
}

main > section:nth-of-type(4) details:nth-of-type(2) p span{
    text-decoration: underline;
}   

main > section:nth-of-type(4) details:nth-of-type(3) ul{
    margin: 0 1em
}

main > section:nth-of-type(4) details:nth-of-type(3) span{
    text-decoration: underline;
    font-weight: bold;
}

main > section:nth-of-type(4) details p{
    margin-bottom: 1em;
}

main > section:nth-of-type(4) p, main > section:nth-of-type(4) ul{
    font-size: .9em;
}









/* STYLING FOOTER */
footer{ 
    background-color: black;
    color: white;
    padding: 2em 1em 1em 1em;
    display: flex;
    flex-direction: column;
}

footer h2{
    margin-bottom: 1em;
}

footer > p:first-of-type, footer > p:nth-of-type(2){
    margin-bottom: 1.5em;
}


footer form > section:first-of-type{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
}

footer form > section:first-of-type section{
    display: flex;
    align-items: baseline;

}

footer form > section:first-of-type section input{
    margin-right: .5em;
}


footer form > section:nth-of-type(2){
    margin: 1em 0;
    display: grid;
    grid-template-columns: 80% 1fr;
}

footer input{
    background-color: rgb(47, 47, 47);
    color: white;
    padding: 1em;
    border-radius: 10em;
    border: none;
    border: rgb(47, 47, 47) 1px solid;
}

footer form > section:nth-of-type(2) input:nth-of-type(1):hover{
    border: white 1px solid;
}

footer form > section:nth-of-type(2) input:nth-of-type(2):hover{
    color: darkgrey;
    background-color: white;
}


footer label{
    font-size: .9em;
    cursor: pointer;
}

/* Code van Sanne's codepen (bron staat in de bronnenlijst) */
summary {
	list-style:none;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

summary::after {
	content:"";
	display:grid;
	place-content:center;
	width:.8em;
	aspect-ratio:1;
	
	transition:.3s;
	
	border-radius:50%;
	
	background-image:
		linear-gradient(#fff 0 0),
		linear-gradient(#fff 0 0);
	
	background-size:
		1.25em .15em,
		.15em 1.25em;
	background-repeat:
		no-repeat;
	background-position:
		center;
}

details[open] summary::after {
	rotate:45deg;
}
/*  */


footer a{
    text-decoration: none;
    color: white;
}

footer > section:first-of-type a:hover{
    text-decoration: underline;
}

footer > section {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer > section ul{
    margin-bottom: 2.5em;
}

footer > section li{
    list-style-type: none;
    margin: .8em 0;
}

footer > section li a{
    color: grey;
}



footer nav:first-of-type{
    margin: 2em 0;
}

footer nav:first-of-type ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer nav:first-of-type ul li{
    list-style-type: none;
}

footer nav:first-of-type ul li a{
    color: grey;
}

footer nav:first-of-type ul li a:hover{
    text-decoration: underline;
}

footer > button:first-of-type{
    background-color: transparent; 
    padding: 2em 0em;
    width: 14em;
    margin: 3em 0;
    font-family: inherit;
    border: 1px white solid;
    border-radius: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    display: flex;
    place-content: center;
}

footer > button:first-of-type:hover{
    background-color: white;
    transition: .5s;
}

footer > button:first-of-type img{
    width: 1.6em;
}

footer > p:nth-of-type(3), footer > p:nth-of-type(4){
    font-size: .75em;
    color: grey;
    text-align: center;
}

footer nav:nth-of-type(2){
    display: flex;
    place-content: center;
    margin: 2em 0;
}

footer nav:nth-of-type(2) ul{
    display: flex;
    gap: 1.5em;
}

footer nav:nth-of-type(2) ul li{
    list-style-type: none;
}

footer nav:nth-of-type(2) ul li a svg{
    width: 1.25em;
    height: 1.25em;
}

footer nav:nth-of-type(2) ul li a svg:hover{
    transform: scale(1.4);
    transition: .5s;
}

footer > button:last-of-type{
    background-color: transparent;
    color: white;
    border: none;
}

footer > button:last-of-type svg{
    width: 1em;
    height: 1em;
}



body > p{
    background-color: black;
    color: white;
    position: fixed;
    right: 0;
    top: 45%;
    writing-mode: vertical-rl;
    padding: 1em;
    border-radius: .5em 0 0 .5em;
    font-size: .75em;
}

body > button{
    position: fixed;
    right: 1em;
    bottom: 1em;
    background-color: gb(235, 235, 235);
    padding: 1em;
    border: none;

    border-radius: 50%;
}

body > button svg{
    width: 1.6em;
    height: 1.6em;
}

body > a{
    color: white;
    text-transform: uppercase;
	font-size: .7em;
	font-weight: 500;
	border: 1px black solid;
	background-color: rgba(0, 0, 0, 0.39);
	padding: .9em .5em;
	border-radius: 200px;
	position: fixed;
	bottom: 6.5em;
	right: 1.7em;
}






/* scrollbar stylen (bron staat in de bronnenlijst) */

::-webkit-scrollbar {
    width: 7px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}